header {
    background: #1e4e79; 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-size: 44px;
    color: #ffffff;
    margin: 10px;
}